/*
+++++++++++++++++++++++++++++++++++++++++++++++++++

@author: Mauro Galvan.
@description: Este archivo .css es para la pagina web sobre el curso full stack, es algo basico, puede encontrar errores y/o malas practicas, en el caso de que sea asi, seria de mi agrado que me lo comunicara a traves de "maurogalvanbalca@gmail.com". 

+++++++++++++++++++++++++++++++++++++++++++++++++++
*/

/****************************** inicio del documento ******************************/
/****************************** inicio del documento ******************************/
/****************************** inicio del documento ******************************/
/****************************** inicio del documento ******************************/
/****************************** inicio del documento ******************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Para cuando le demos padding o boder sea dentro del modelo de caja para el resposive*/
    font-family: 'Lato', sans-serif;
}


*::selection{
    color: white;
    background: #900C3F;
}


 /*---- HEADER ----*/
header{
    width: 100%; /*Tamaño apropiado por el header*/
    height: 50px; /*Tamaño del ancho de la barra*/
    background: #282828;
    color: white;
    
    position: fixed; /* Para que se quede fijo arriba*/
    top: 0; /*Para que arranque de arriba a la  izquierda*/
    left: 0;
    z-index: 100; /*Para que este siempre por encima de los demas*/
}

.contenedor{
    width: 98%; /*Para darle un 98% del header*/
    margin: auto; /*Para que este centrado*/
}

.contenedor #titulo{
    float: left; /*Para que este en la izquierda*/
    top: 0;
    left: 0;
    margin:0;
    padding: 5px;
    
}
.contenedor #titulo a{
    text-decoration: none; /*Para sacar el subrayado que le hace a los 'a'*/
    color: white;
    font-size: 35px;
}

header .contenedor {
    display: table; /*Esto por que se me salian los textos*/
}

/*---- MENU -----*/

/* El menu lo hice a traves de un checkbox, basicamente arme un menu y lo traslade para 'afuera' de la pagina, cuando el checkbox lo tildan lo que hace es hacer una transformacion para que se muestre, esto lo podria haber hecho con bootstrap y probablemente hubiera sido mas eficiente pero como tenia que hacer una transformacion lo decidi buscar y hacerlo de la siguiente forma.*/

#menu-bar{ /*Barra del menu*/
    display:none; /*Esto es para que saque el checkbox*/
}

header label{
    float: right; /*Para que se vaya a la derecha*/
    font-size: 30px;
    margin: 6px 0; /*El cero es para que me quede proporcional*/
    cursor: pointer; /*Cuando pase la flechita para que ponga la manito*/
}

.menu{
    position: absolute; /*Posicion con respecto a un punto*/
    width: 100%; /*Para que ocupe todo*/
     /*Para que se acomode*/
    background: #282828;
    opacity: 0.8; /*Para que lo deje un poco transparente*/
    top: 50px; /*Esto a 50px para que arranque despues del header que son 50px*/
    left: 0;

    transition: all 0.6s; /*Una transicion*/
    transform: translateX(-100%); /*Esto es una transformacion, lo que hace es transladar toda la barra a la izquierda al 100%, para que cuando aprete la translate 100% pero a la derecha*/
}

.menu a{
    display: block; /*Esto para que se quede fijo a ese tamaño*/
    color: white;
    text-decoration: none;
    height: 67px; 
    text-align: center; /*Para ponerlos al centro*/
    padding: 15px; 
    border-bottom: 1px solid rgb(133, 130, 130); /*Para darle una linea abajo como para que se distinga*/
}

.menu a:hover{
    background:rgb(133, 130, 130); /*Para que cuando pase la flechita se ponga en otro color*/
}

#menu-bar:checked ~ .menu{ /*Cuando el checkbox este activado, lo que va hacer es seleccionar a la id "menu"*/
    transform: translateX(0%); /*Ahora cuando hace click en el checkbox, transforma el eje x a 0, por ende aparece.*/
}

@media (min-width: 1000px){ /*Esto es para poner el menu en la barra -> PARA PC*/
/*Esto quiere decir si estoy en una pagina con mas de 1024 que haga esto, si no, todo lo anterior*/
    .menu {
        position: static; /*Para que se mantenga en un lugar*/
        width: auto;
        height: auto;
        transform: translateX(0%); /*En la pc no queremos que se translade*/
        float: right; /*Esto para que se vaya a la derecha*/
        display: flex; /*Para que me lo ponga todo en una linea*/
    }

    .menu a {
        border: none;
        height: 50px;
        font-size: 20px;
        padding: none;
        
    }

    .contenedor label {
        display: none;
    }
}



/*---- FIN HEADER ----*/

/*---- MAIN ----*/

/*En este bloque main contiene todos los estilos de todas las paginas que se encuentran en el main, lo separe con comentarios para tratar de que quede un poco mas ordenado.*/



/*---- BLOCK PRINCIPAL ----*/
section{ /*Esto para todos los section, que tengan el 100% de ancho, y 25px por debajo para que el contenido lo empuje.*/
    width: 100%;
    margin-bottom: 25px;
}

.bloque{
    margin-top: 50px; /*Para que arranque por debajo de la barra principal*/
    position: relative;
}

.bloque img {
    width: 100%;
}

.bloque .contenedor {
    position: absolute; /*Esto para que se posicione con respecto al mas cercano, que es el block*/
    top: 50%;
    left: 50%;
    
    transform: translateX(-50%) translateY(30%); /*Use una transformacion para poder moverlo mas facil.*/
    color: black;
}

.bloque h2{
    font-size: 7vw;
    font-weight: 10vw !important;
    float: left;
    background-color: white;
    opacity: 0.7;
    padding: 10PX;
}

.bloque p{
    font-size: 2vw;
}

/*---- FIN BLOCK PRINCIPAL ----*/


/*---- BIENVENIDOS ----*/
#bienvenidos {
    text-align: center;
    border: 1px black solid;
    border-radius: 30px;
    padding: 30px;
}

#bienvenidos h2{
    font-size:20px;
    font-weight: bold;
}
#bienvenidos p {
    font-size: 20px;
}

#tituloPagina{
    text-align: center;
    border-top: 1px solid #282828;
    border-bottom: 1px solid #282828;
    padding: 30px;
    background-color: #3b3030;
    color: white;
}
/*---- FIN BIENVENIDOS ----*/



/*---- MODELO DE CAJA ----*/
/* Esto lo puse como un modelo de caja por que lo use varias veces, por ende lo utilice asi.*/

.caja {
    background: #282828;
    color: white;
    text-align: center;
    padding: 20px;
}
.caja h2, h4{
    text-align: center;
}
.caja h2{
    font-size: 40px;
}
.caja .sub-titulo{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-bottom: 1px solid white;
}

.contenedor{
    display: flex; /*Para que las imagenes esten en una sola linea. Tambien para que sea una caja flexible*/
    justify-content: center; /*Esto para centrar todo*/
    flex-wrap: wrap; /*Esto es para los que no entran se pongan abajo*/
}

.caja article{
    padding: 15px;
    margin: 15px;
}

.contenedor img{
    width: 100%;
    width: 300px;
    height: 200px;
    object-fit: cover;
    border: 6px white solid;
    border-radius: 10%;
}

.caja .contenedor article:hover{
    background: gray;
}

.caja .contenedor a:link{
    color: white
}

.informacion{
    text-align: justify;
    padding: 30px;
    font-size: 20px;
    font-weight: 400; 
    color: #ffffff; 
    background:#ee0467
}
.informacion h2{
    text-align: center;
}
/*---- FIN MODELO DE CAJA ----*/

/*---- MODIFICACIONES A BOOTSTRAP ----*/

/* Hablo de moficiacion por que cambie los colores y agrege un borde pero no cambie mucho en verdad.*/

.list-group{
    border-radius: none;
}
.list-group h2{
    text-align: center;
    font-size: 30px;
}
.list-group a {
    padding: 20px;
    background-color: #e64525;
    color: white;
    border: 1px black solid;
    padding: 20px;
    
}
.list-group a:hover {
    background-color: rgb(73, 188, 226);
    color: black;
}
/*---- FIN MODIFICACIONES A BOOTSTRAP ----*/


/*---- FORMULARIO ----*/

.formulario input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
  
.formulario label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
.formulario input[type=submit], button[type=reset] {
    background-color: #04AA6D;
    color: white;
    padding: 15px 20px;
    border: 1px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin:5px;
}
.formulario button[type=reset]{
    background-color: gray;
}
.formulario button[type=reset]:hover{
    background-color: black;
}
  
.formulario input[type=submit]:hover {
    background-color: #01ff0e;

}
  
.formulario {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 20px; 
    padding-bottom: 60px;
   
}
  
/*Corte para que los botones me queden bien*/
@media screen and (max-width: 600px) {
    .formulario input[type=submit] button[type=reset] {
      width: 100%;
      margin-top: 0;
    }
}
/*---- FIN FORMULARIO ----*/


/*---- GRID EN SOBRE MI ----*/

#seccion_formulario h2{
    text-align: center;
    background: #ee0467;
    padding: 10px;
}

/*Puse margen cero por que me sacara el scrollbar de abajo. */
.row{
    margin: 0;
    margin-bottom: 30px;
}
.column {
    float: left;
    padding: 10px; 
}

.izquierda {
    width: 100%;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    background:#9acb34;
    color: black;
    height: 100%;
}

.derecha{
    width: 100%;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    height: 100%;
    background: #e4e4e4;
    color: black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row h1{
    font-size: 30px;
    
}
.row img{
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(0,0,0,.06);
    width: 20%;
    transition: .2s;
    float: left;
    margin: 2%; /*Por que si no me queda muy pegado al texto*/
}
.row img:hover{
    box-shadow: 0 0 0 12px rgba(0, 0, 0,.2);
}

.row .texto{
    float: right;
    text-align: justify;
    padding: 0px;
}

.row .texto p{
    margin-left: 10px;
}

.aside{
    padding: 15px;
}

/* Parte responsive para que cuando pase los 1000px */
/* Decidi que fuera a los 1000px por que en tablet quiero que se vea igual que en el celular.*/
@media screen and (min-width: 1000px) {
    .izquierda{
        width: 75%;
        height: 450px;
    }
    .derecha{
        width: 25%;
        height: 450px;
    }
}
/*---- FIN GRID EN SOBRE MI ----*/

/*---- IFRAME ----*/
.iframe{
    text-align: center;
}
.iframe iframe {
    border: #282828 2px solid;
}

.iframe h2{
    text-align: center;
    background: #ee0467;
    padding: 10px;
}


/*---- FIN IFRAME ----*/

/*---- FIN MAIN ----*/



/*---- FOOTER ----*/

footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
}

.copyright{
    text-align: center;
    font-size: 20px;
}

.redSociales{
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.redSociales a{
    text-decoration: none;
    color: black;
    padding: 2px;
}

/* Decidi que las demas paginas que no fuera la index tuvieran otro estilo, por ende agrege esto.*/
.pag-externas{
    background: #3b3030;
    color: white;
    padding: 30px;
}

.pag-externas .redSociales a{
    text-decoration: none;
    color: white;
    padding: 2px;
}
/*---- FIN FOOTER ----*/

/****************************** Fin del documento ******************************/
/****************************** Fin del documento ******************************/
/****************************** Fin del documento ******************************/
/****************************** Fin del documento ******************************/
/****************************** Fin del documento ******************************/